# -----------------------------
# Python / Virtual Environment
# -----------------------------
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Face Authentication Runtime
# -----------------------------
logs/
registered_faces/
secret.key



# -----------------------------
# OS / Editor junk
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Environment / Secrets
# -----------------------------
.env

# -----------------------------
# IDEs
# -----------------------------
.vscode/
.idea/
